@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=BhuTuka+Expanded+One&family=Dancing+Script:wght@400;500;600;700&family=Inspiration&family=Karla:wght@300&display=swap');

:root {
  --bg-color-yellow: #FED858;
  --bg-color-green: #6DD47E;
}

* {
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Dancing Script', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
